/* footer 영역 */
footer {
    width: 100%;
    height: 680px;
    background-color: rgba(250, 250, 250, .8);
}

#footer_top {
    width: 100%;
    height: 200px;
    background: #000;
}

#footer_top a {
    color: #fff;
}

.footer_service {
    float: left;
    width: 50%;
    height: 100%;
    background: url(../images/home_banner_bottom1.png) right no-repeat;
    background-size: contain;
    background-color: #565656;
}

.footer_app {
    float: right;
    width: 50%;
    height: 100%;
    background: url(../images/home_banner_bottom2.png) right no-repeat;
    background-size: contain;
    background-color: #3b3a3c;
}

.footer_top_inner {
    padding: 36px 48px;
}

.footer_title {
    font-size: 12px;
    font-weight: bold;
}

.footer_content {
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.2em;
}

.footer_btn {
    margin-top: 16px;
    display: inline-block;
    border: 1px solid hsla(0, 0%, 100%, .8);
    padding: 10px 13px;
    font-size: 12px;
    border-radius: 6px;
}


/* footer_support 영역 */
#footer_support {
    width: 100%;
    height: 207px;
}

#footer_support_inner {
    width: 95%;
    min-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 36px 0;
    border-bottom: 1px solid #ccc;
}

#footer_support_inner strong {
    font-weight: bold;
    font-size: 16px;
}

#footer_support_left ul {
    padding-top: 16px;
    margin-right: 100px;
}

#footer_support_left li {
    padding-bottom: 12px;
}

#footer_support_left a {
    font-size: 14px;
    color: rgba(34, 34, 34, .5);
}

#footer_support_left {
    float: left;
}

#footer_information {
    display: inline-block;
}

#footer_customer {
    display: inline-block;
}

#footer_support_right {
    float: right;
}

#footer_support_right em {
    font-size: 14px;
}

.footer_support_content {
    font-size: 14px;
    color: rgba(34, 34, 34, .5);
    padding: 16px 0 12px 0;
    margin-bottom: 10px;
}

.footer_support_btn {
    display: inline-block;
    padding: 14px 16px;
    font-size: 12px;
    background-color: #222;
}

.footer_support_btn a {
    color: white;
}

.footer_support_btn {
    margin-top: 15px;
}

/* footer_bottom 영역 */
#footer_bottom {
    width: 100%;
    height: 207px;
}

#footer_bottom_inner {
    width: 95%;
    min-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 36px 0;
}

.term_list {
    display: inline-block;
    width: 1000px;
    padding-bottom: 16px;
}

.term_list::after {
    display: block;
    content: "";
    clear: both;
}

.term_list li {
    margin-right: 20px;
    float: left;
}

.term_list li a {
    font-size: 14px;
    letter-spacing: -.21px;
    color: #000;
}

.footer_sns {
    float: right;
}

.footer_sns li {
    float: left;
    margin-left: 20px;
}

.footer_sns img {
    width: 18px;
    height: 18px;
}

.business_title {
    width: 1000px;
    height: 42px;
}

.business_title li {
    float: left;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .5);
    margin-right: 16px;
}

.business_title li a {
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .5);
    text-decoration: underline;
}

#garantee_area {
    margin-top: 30px;
}

.garantee_title {
    font-size: 12px;
    font-weight: 700;
}

.garantee_check {
    margin-top: 4px;
    font-size: 12px;
    color: rgba(34, 34, 34, .5);
}

.garantee_check a {
    font-size: 12px;
    color: rgba(34, 34, 34, .5);
    text-decoration: underline;
}

.garantee_notice {
    margin-top: 30px;
    max-width: 605px;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 1.3em;
    color: rgba(34, 34, 34, .4);
}

address {
    font-size: 12px;
    color: rgba(34, 34, 34, .5);
    float: right;
}

/* top_btn 영역 */
#top_btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 44px;
    height: 48px;
    padding-top: 4px;
    border-radius: 30px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    z-index: 999;
    border: none;
    display: none;
    cursor: pointer;
}

#top_btn img {
    width: 24px;
    height: 24px;
    font-weight: 100;
}