@charset "UTF-8";

@import "header.css";
@import "footer.css";

/* 오버라이딩 */
header {
    width: 100%;
    height: 100px;
}

#header_inner {
    height: 100px;
    box-shadow: none;
}

#content {
    width: 100%;
    height: 700px;
}

/* login_area 영역 */
#login_area {
    width: 500px;
    height: 100%;
    margin: 0 auto;
}

#login_area_inner {
    padding: 60px 10px;
    height: 100%;
}

#login_area_inner h2 {
    width: 250px;
    height: 56px;
    margin: 0 auto;
}

#login_area_inner img {
    width: 100%;
    height: 100%;
}

#login_area_inner form {
    width: 400px;
    height: 275px;
    margin: 0 auto;
    padding-top: 50px;
}

#login_area_inner form p {
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
}

#login_area_inner form input {
    width: 100%;
    margin-bottom: 20px;
}

#login_area_inner form input:focus {
    outline: 0;
    border-bottom: 2px solid #000;
}

.input_txt {
    border: none;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #ebebeb;
    padding: 8px 0;
}

input::placeholder {
    color: #ccc;
}

#login_area_inner ul {
    text-align: center;
}

#login_area_inner li {
    display: inline-block;
}

#login_area_inner li a {
    font-size: 13px;
}

#login_area_inner li::after {
    padding: 0 25px;
    content: " | ";
    color: #d3d3d3;
}

#login_area_inner li:last-child::after {
    padding: 0;
    content: "";
}

.login_btn {
    background-color: #ebebeb;
    color: #fff;
    cursor: default;
    border: none;
    border-radius: 10px;
    height: 45px;
    margin-top: 10px;
}

#btn_area {
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}

#btn_area button {
    position: relative;
    width: 100%;
    height: 52px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}

#btn_area button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    color: #222;
}

#btn_area button p {
    margin-top: 15px;
}

#btn_area img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 14px;
}