@charset "UTF-8";

@import "header.css";
@import "footer.css";

/* 오버라이딩 */
header {
    width: 100%;
    height: 100px;
}

#header_inner {
    height: 100px;
    box-shadow: none;
}

#content {
    width: 100%;
    height: 700px;
}

h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    font-weight: 700;
    color: #000;
}

h3 {
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
    color: #222;
    font-weight: bold;
}

/* 회원가입 영역 */
#register_area {
    width: 450px;
    height: 100%;
    background-color: red;
    margin: 0 auto;
}

#register_title {
    width: 100%;
    background-color: blue;
}

#register_title h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    font-weight: 700;
    color: #000;
}

#register_form {
    width: 100%;
    background-color: aqua;
}

#register_email {
    width: 100%;
    padding: 10px 0 14px 0;
}

#register_passowrd {
    width: 100%;
    padding: 10px 0 14px 0;
}

#register_shoes {
    width: 100%;
    padding: 10px 0 14px 0;
}